<p-tabView [activeIndex]="selectedTabIndex" (onChange)="onTabChange($event)">
    <p-tabPanel header="Upis studenata">
        <app-student-enrollment></app-student-enrollment>
    </p-tabPanel>
    <p-tabPanel header="Izdavanje dokumenata">
        <app-document-issuance></app-document-issuance>
    </p-tabPanel>
    <p-tabPanel header="Obavestenja">
        <app-announcements></app-announcements>
    </p-tabPanel>
    <p-tabPanel header="Biblioteka">
        <app-library></app-library>
    </p-tabPanel>
    <p-tabPanel header="Kancelarijski inventar">
        <app-office-supplies></app-office-supplies>
    </p-tabPanel>
</p-tabView>
