<div class="content">
    <h2>Obavestenja</h2>
    <p-button label="Dodaj obavestenje" severity="success" (onClick)="openAnnouncementDialog()"/>
    <p-dropdown
    [options]="myCourses"
    optionLabel="name"
    optionValue="id"
    [(ngModel)]="selectedCourseId"
    placeholder="Izaberi predmet"
    (onChange)="onCourseChange($event)"
    />
    <div>
        <p-dialog header="Dodaj obavestenje" [(visible)]="visible" modal="modal" [closable]="true">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="predmet">Predmet:</label>
                    <p-dropdown id="predmet" name="predmet" [options]="myCourses" optionLabel="name" [(ngModel)]="newAnnouncement.course" placeholder="Izaberi predmet" required></p-dropdown>
                </div>
                <div class="p-field">
                    <label for="naslov">Naslov:</label>
                    <input id="naslov" name="naslov" type="text" pInputText [(ngModel)]="newAnnouncement.title" required />
                </div>
                <div class="p-field">
                    <label for="sadrzaj">Sadržaj:</label>
                    <textarea id="sadrzaj" name="sadrzaj" pInputTextarea [(ngModel)]="newAnnouncement.content" required></textarea>
                </div>
                <div class="p-field">
                    <label for="startDate">Vreme početka:</label>
                    <p-calendar id="startDate" name="startDate" [(ngModel)]="newAnnouncement.startDate" [showTime]="true" required></p-calendar>
                </div>
                <div class="p-field">
                    <label for="endDate">Vreme kraja:</label>
                    <p-calendar id="endDate" name="endDate" [(ngModel)]="newAnnouncement.endDate" [showTime]="true" required></p-calendar>
                </div>
                <p-footer>
                    <p-button type="submit" (onClick)="addAnnouncement()" severity="success" label="Dodaj" />
                    <p-button label="Ponisti" severity="danger" (onClick)="visible = false" />
                </p-footer>
            </div>
        </p-dialog>
    </div>
    <p-dataView  #dv [value]="filteredAnnouncements">
        <ng-template  pTemplate="list">
            <div *ngFor="let o of filteredAnnouncements">
                <div class="gObavestenje">
                    <h4>{{o.title}}</h4>
                    <p><span>od: </span> <br> {{formatDate(o.startDate)}}, <br> <span>do: </span> <br>{{formatDate(o.endDate)}}</p>
                    <p>{{o.content}}</p>
                    <p>
                        <p-button label="ukloni" (click)="removeAnnouncement($event, o)" severity="danger" rounded="true" [raised]="true"/>
                    </p>
                </div>
            </div>
        </ng-template>
    </p-dataView>
    <p-toast />
    <p-confirmPopup />
</div>
