<div class="content">
    <h2>Unos ocena</h2>
    <p-dropdown
    [options]="courses"
    optionLabel="name"
    optionValue="id"
    [(ngModel)]="selectedCourseId"
    placeholder="Izaberi predmet"
    (onChange)="onCourseChange($event)"
    />
    <p-table [value]="examAttempts" styleClass="p-datatable-striped">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="student">student <p-sortIcon field="student"></p-sortIcon></th>
                <th pSortableColumn="student.indexNumber">broj indeksa <p-sortIcon field="student.indexNumber"></p-sortIcon></th>
                <th>opcije</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-p>
            <tr>
                <td>{{p.id}}</td>
                <td>{{p.student?.firstName}} {{p.student?.lastName}}</td>
                <td>{{p.student?.indexNumber}}</td>
                <td>
                    <p-button (onClick)="enterGrade(p)" label="unesi rezultate" />
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog header="Unesi rezultate" [modal]="true" class="dialog" [(visible)]="visible" >
        <div class="p-field">
            <label for="bodovi">Bodovi</label>
            <input id="bodovi" type="number" pInputText [(ngModel)]="result.points" />
        </div>
        <div class="p-field">
            <label for="ocena">ocena</label>
            <input id="ocena" type="number" pInputText [(ngModel)]="result.grade" />
        </div>
        <div class="p-field">
            <label for="napomena">napomena</label>
            <input id="napomena" type="text" pInputText [(ngModel)]="result.note" />
        </div>
        <p-button label="upisi" (click)="submitGrade()" rounded="true" severity="success"/>
        <p-button label="ponisti" (click)="cancelDialog()" rounded="true" severity="danger" />

    </p-dialog>
    <p-toast />
</div>
