<p-tabView [activeIndex]="selectedTabIndex" (onChange)="onTabChange($event)">
    <p-tabPanel header="Sifarnik">
        <app-registry></app-registry>
    </p-tabPanel>
    <p-tabPanel header="Registrovani users">
        <app-a-registered-users></app-a-registered-users>
    </p-tabPanel>
    <p-tabPanel header="Studijski programi">
        <app-a-study-programs></app-a-study-programs>
    </p-tabPanel>
    <p-tabPanel header="Organizacija">
        <app-a-organization></app-a-organization>
    </p-tabPanel>
    <p-tabPanel header="Zaposleni">
        <app-a-employees></app-a-employees>
    </p-tabPanel>
</p-tabView>

