<div class="content">
    <h2>Student List</h2>
    <p-dropdown
        [options]="coursei"
        optionLabel="name"
        [(ngModel)]="izabranicourse"
        placeholder="Select a course"
        (onChange)="oncourseChange($event)"
    ></p-dropdown>

    <div class="pretraga">
        <p-inputGroup>
            <input type="text" [(ngModel)]="pretraga.firstName" pInputText placeholder="First name" />
        </p-inputGroup>
        <p-inputGroup>
            <input type="text" [(ngModel)]="pretraga.lastName" pInputText placeholder="Last name" />
        </p-inputGroup>
        <p-inputGroup>
            <input type="text" [(ngModel)]="pretraga.indexNumber" pInputText placeholder="Index number" />
        </p-inputGroup>
        <p-button icon="pi pi-search" (onClick)="filterStudents()" rounded="true" [raised]="true"/>
        <p-button icon="pi pi-times" (onClick)="clearFilter()" rounded="true" [raised]="true" severity="danger" />
    </div>

    <div *ngIf="filteredStudents.length === 0" class="poruka">
        No results found.
    </div>

    <p-table *ngIf="filteredStudents.length > 0" [value]="filteredStudents" styleClass="p-datatable-striped">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="firstName">First name <p-sortIcon field="firstName"></p-sortIcon></th>
                <th pSortableColumn="lastName">Last name <p-sortIcon field="lastName"></p-sortIcon></th>
                <th pSortableColumn="indexNumber">Index number <p-sortIcon field="indexNumber"></p-sortIcon></th>
                <th>Options</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-s>
            <tr>
                <td>{{s.id}}</td>
                <td>{{s.firstName}}</td>
                <td>{{s.lastName}}</td>
                <td>{{s.indexNumber}}</td>
                <td>
                    <p-button (onClick)="openStudentDetails(s)" label="Details" />
                </td>
                <div *ngIf="studentDetails">
                    <p-dialog header="Student Details" [modal]="true" class="dialog" [(visible)]="visible">
                        <p><span>First name:</span> {{studentDetails.firstName}}</p>
                        <p-divider />
                        <p><span>Last name:</span> {{studentDetails.lastName}}</p>
                        <p-divider />
                        <p><span>Index number:</span> {{studentDetails.indexNumber}}</p>
                        <p-divider />
                        <p><span>Average grade:</span> {{studentDetails.avgOcena}}</p>
                        <p-divider />
                        <p><span>ECTS:</span> {{studentDetails.ETCS}}</p>
                        <p-divider />
                        <p><span>Enrollments:</span></p>
                        <div *ngIf="studentDetails.enrollments && studentDetails.enrollments.length > 0">
                            <p *ngFor="let e of studentDetails.enrollments">
                                <strong>Year:</strong> {{ e?.studyYear?.year || 'N/A' }},
                                <strong>Program:</strong> {{ e?.studyProgram?.name || 'N/A' }},
                                <strong>Date:</strong> {{ e?.enrollmentDate || 'N/A' }}
                            </p>
                        </div>
                        <p-divider />
                        <p><span>Passed exams:</span></p>
                        <div *ngIf="studentDetails.polozeniIspiti && studentDetails.polozeniIspiti.length > 0">
                            <p *ngFor="let ispit of studentDetails.polozeniIspiti">
                                {{ ispit.courseName }} - Grade: {{ ispit.ocena }}, ECTS: {{ ispit.espb }}
                            </p>
                        </div>
                        <div *ngIf="studentDetails.polozeniIspiti?.length === 0">
                            <p>No passed exams.</p>
                        </div>
                        <p-divider />
                        <p><span>Failed attempts:</span></p>
                        <div *ngIf="studentDetails.nepolozeniIspiti && studentDetails.nepolozeniIspiti.length > 0">
                            <p *ngFor="let p of studentDetails.nepolozeniIspiti">
                                {{ p.courseName }} - ECTS: {{ p.espb }}, Points: {{ p.points }}
                            </p>
                        </div>
                        <div *ngIf="studentDetails.nepolozeniIspiti?.length === 0">
                            <p>No failed attempts.</p>
                        </div>
                        <p-divider />
                        <p><span>Registered exams:</span></p>
                        <div *ngIf="studentDetails.prijavljeniIspiti">
                            <p *ngFor="let ispit of studentDetails.prijavljeniIspiti">
                               {{ ispit.course?.name }}
                            </p>
                        </div>
                        <p-divider />
                        <p><span>Thesis:</span></p>
                        <div *ngIf="studentDetails.Thesis">
                            <p>
                                <strong>Topic:</strong> {{ studentDetails.Thesis?.topic || 'No thesis data available.' }}
                            </p>
                        </div>
                    </p-dialog>
                </div>
            </tr>
        </ng-template>
    </p-table>
</div>
