<div class="content">
    <a [routerLink]="['/fakultet', facultyCode]"><h2>{{facultyName}}</h2></a>
    <a [routerLink]="['/fakultet', facultyCode, 'studijski-program', studyProgramCode]"><h3>{{programName}}</h3></a>
    <a [routerLink]="['/fakultet', facultyCode, 'studijski-program', studyProgramCode, 'predmet', courseCode]"><h4>{{course.name}}</h4></a>
    <p-divider />
    <h3>{{materialTitle}}</h3>

    <p>{{material?.description}}</p>
    <p>{{material?.url}}</p>
    <p-divider />

    <h5>Autor</h5>
    <p>{{material?.authors}}</p>
    <p-divider />

    <h5>Izdavac</h5>
    <p>{{material?.publisher}}</p>
    <p-divider />

    <h5>Godina izdavanja</h5>
    <p>{{material?.publicationYear}}</p>
    <p-divider />

    <h5>Broj strana</h5>
    <p>{{material?.pageCount}}</p>


</div>
