<div class="content">
    <h2>Organisation</h2>
    <p-button label="Edit" (onClick)="openEditDialog()"/>
    <p><span>Name: </span> <br> {{university?.name}}</p>
    <p><span>Founded:</span> <br> {{university?.foundingDate}}</p>
    <p><span>Rector:</span> <br> {{university?.rectorate?.rectorName}}</p>
    <p><span>Location:</span> <br> {{university?.address}}</p>
    <p><span>Contact:</span> <br> {{university?.contact}}</p>
    <p><span>Description:</span> <br> {{university?.description}}</p>

    <p-dialog header="Edit" [(visible)]="visible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="name">Name</label>
                <input id="name" type="text" pInputText [(ngModel)]="universityForEdit.name" />
            </div>
            <div class="p-field">
                <label for="description">Description</label>
                <textarea id="description" name="description" [(ngModel)]="universityForEdit.description" required></textarea>
            </div>
            <div class="p-field">
                <label for="foundingDate">Founded</label>
                <p-calendar id="foundingDate" name="foundingDate" [(ngModel)]="universityForEdit.foundingDate" [showTime]="true" required></p-calendar>
            </div>
            <div class="p-field">
                <label for="address">Address</label>
                <textarea id="address" name="address" [(ngModel)]="universityForEdit.address" required></textarea>
            </div>
            <div class="p-field">
                <label for="contact">Contact</label>
                <textarea id="contact" name="contact" [(ngModel)]="universityForEdit.contact" required></textarea>
            </div>
        </div>
        <p-footer>
            <p-button label="Save" rounded="true" severity="success" icon="pi pi-check" (click)="saveChanges()" />
            <p-button label="Cancel" rounded="true" severity="danger" icon="pi pi-times" (click)="cancelDialog()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>

    <p-toast/>

</div>
