<div class="content">
    <h2>Login</h2>
    <div class="form form-group">
        <input type="email" placeholder="Email" [formControl]="emailFormControl">
        <div class="error-message" *ngIf="emailFormControl.touched && emailFormControl.invalid">
            <div *ngIf="emailFormControl.hasError('required')">Email is required!</div>
            <div *ngIf="emailFormControl.hasError('email')">Email address is not valid!</div>
        </div>
    </div>
    <div class="form form-group">
        <input type="password" placeholder="Password" [formControl]="passwordFormControl">
        <div class="error-message" *ngIf="passwordFormControl.touched && passwordFormControl.invalid">
            <div *ngIf="passwordFormControl.hasError('required')">Password is required!</div>
            <div *ngIf="passwordFormControl.hasError('minlength')">Password must be at least 4 characters!</div>
        </div>
    </div>
    <div class="button">
        <p-button label="Login" severity="success" rounded="true" [raised]="true" (onClick)="prijaviSe()" />
        <p-button label="Clear" severity="danger" rounded="true" [raised]="true" (onClick)="ponistiUnos()" />
    </div>
    <p>Not registered? <a routerLink="/registration">Register here.</a></p>
    <p-toast />
    <p-progressSpinner *ngIf="isLoading" ariaLabel="loading" />
</div>
