<div class="content">
    <h2>Prijava ispita</h2>
    <p-table [value]="availableCourses" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Predmet <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="teacher">Profesor <p-sortIcon field="teacher"></p-sortIcon></th>
                <th pSortableColumn="ects">ESPB <p-sortIcon field="ects"></p-sortIcon></th>
                <th>opcije</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body"  let-p>
            <tr>
                <td>{{p.name}}</td>
                <td>{{p.teacher?.firstName}} {{p.teacher?.lastName}}</td>
                <td>{{p.ects}}</td>
                <td>
                    <p-button *ngIf="!isExamRegistered(p)" label="prijavi" (onClick)="registerForExam($event, p)" />
                </td>
            </tr>
        </ng-template>
    </p-table>

    <h3>prijavljeni ispiti</h3>
    <p-table [value]="registeredExams" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="course.name">Predmet <p-sortIcon field="course.name"></p-sortIcon></th>
                <th pSortableColumn="course.teacher">Profesor <p-sortIcon field="course.teacher"></p-sortIcon></th>
                <th pSortableColumn="course.ects">ESPB <p-sortIcon field="course.ects"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body"  let-p>
            <tr>
                <td>{{p.course?.name}}</td>
                <td>{{p.course?.teacher?.firstName}} {{p.course?.teacher?.lastName}}</td>
                <td>{{p.course?.ects}}</td>
            </tr>
        </ng-template>
    </p-table>


    <p-toast />
    <p-confirmDialog />
</div>
