<div class="content">
    <h2>Moji predmeti</h2>
    <p-dataView  #dv [value]="myCourses">
        <ng-template  pTemplate="list">
            <div *ngFor="let p of myCourses">
                <div class="predmet">
                    <h4>{{p.name}}</h4>
                    <p><span>sifra predmeta: </span> <br> {{p.courseCode}}</p>
                    <p><span>smer: </span> <br> {{p.studyProgram?.name}}</p>
                    <p><span>trajanje kursa:</span> <br> {{formatDate(p.startDate)}}, do: {{formatDate(p.endDate)}}</p>
                    <p><span>espb:</span> <br> {{p.ects}}</p>
                    <p><span>profesor: </span> <br> {{p.teacher?.firstName}} {{p.teacher?.lastName}}</p>
                    <p><span>opis: </span> <br>  {{p.description}}</p>
                    <div class="udzbenici"><span>udzbenici:</span> <br>
                        <ul>
                          <li *ngFor="let materijal of p.teachingMaterials">
                            <strong>{{materijal.title}}</strong> - Autor: {{materijal.authors}}
                          </li>
                        </ul>
                    </div>
                </div>
                <p-divider />
            </div>
        </ng-template>
    </p-dataView>
</div>
