<div class="content">
    <h2>{{rectorate.name}}</h2>
    <p>The Rectorate of Ashford University is the central governing body of our academic institution, responsible for strategic management and leadership.
    At its head is <b class="podaci">{{rectorate.rectorName}}</b>, who coordinates all key activities and makes decisions that shape the future of our university.
    </p>

    <p-divider />

    <h3>Functions of the Rectorate</h3>
    <div class="poravnanje-levo">
        <p><b>Strategic Planning</b>: The Rectorate is entrusted with the responsibility for developing and implementing strategic plans that guide the university toward its objectives.</p>
        <p><b>Academic Policy</b>: This body defines academic standards and policy, ensuring high-quality education and research.</p>
        <p><b>Administrative Management</b>: The Rectorate oversees administrative operations, the budget, and university resources to ensure efficient functioning of all faculties and departments.</p>
        <p><b>Representation</b>: The Rector represents the university at official and international forums, as well as in collaboration with partners and institutions.</p>
    </div>

    <p-divider />

    <h3>Contact</h3>
    <p>For all information and inquiries related to the Rectorate, you can reach us through the following channels:</p>
    <p class="podaci">{{rectorate.contact}}</p>
    <p>Our office is open Monday through Friday, from 9:00 to 17:00. We will be happy to assist you with any questions and requests.</p>

    <p-divider />

    <h3>Address</h3>
    <p>{{rectorate.address}}</p>
    <div class="map-container">
        <iframe loading="lazy"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.083970150712!2d19.83505659248146!3d45.25239800730134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b10613de93455%3A0xb6f7d683724fe28!2z0J3QvtCy0Lgg0KHQsNC0!5e0!3m2!1ssr!2srs!4v1723223074868!5m2!1ssr!2srs" >
        </iframe>
    </div>
</div>
