<div class="content">
    <h2>Biblioteka</h2>
    <h3>Udzbenici</h3>
    <p-button label="novi udzbenik" (click)="openAddDialog()"/>
    <p-dialog header="Dodaj Novi Udzbenik" [(visible)]="addDialog" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="title">Naslov</label>
                <input id="title" type="text" pInputText [(ngModel)]="newTextbook.title" />
            </div>
            <div class="p-field">
                <label for="description">Opis</label>
                <textarea id="description" rows="4" pInputTextarea [(ngModel)]="newTextbook.description"></textarea>
            </div>
            <div>
                <p-dropdown [options]="courses" [(ngModel)]="newTextbook.course" optionLabel="name" placeholder="Izaberite predmet"></p-dropdown>
            </div>
            <div class="p-field">
                <label for="publicationYear">Godina izdavanja</label>
                <input id="publicationYear" type="text" [(ngModel)]="newTextbook.publicationYear"  >
            </div>
            <div class="p-field">
                <label for="authors">autori</label>
                <input id="authors" type="text" pInputText [(ngModel)]="newTextbook.authors" />
            </div>
            <div class="p-field">
                <label for="publisher">izdavac</label>
                <input id="publisher" type="text" pInputText [(ngModel)]="newTextbook.publisher" />
            </div>
            <div class="p-field">
                <label for="pageCount">broj strana</label>
                <input id="pageCount" type="number" step="1" pInputText [(ngModel)]="newTextbook.pageCount" />
            </div>
            <div class="p-field">
                <label for="quantity">kolicina</label>
                <input id="quantity" type="number" step="1" pInputText [(ngModel)]="newTextbook.quantity" />
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="addTextbook()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="closeAddDialog()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>
    <div class="pretraga">
        <p-inputGroup>
            <input type="text" [(ngModel)]="search.title" pInputText placeholder="Naslov" />
        </p-inputGroup>
        <p-inputGroup>
            <input type="text" [(ngModel)]="search.author" pInputText placeholder="Autor" />
        </p-inputGroup>
        <p-button icon="pi pi-search" (click)="searchTextbooks()" rounded="true" [raised]="true" />
        <p-button icon="pi pi-times" (click)="clearSearch()" rounded="true" [raised]="true" severity="danger"  />
    </div>
    <p-table [value]="filteredTextbooks">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="title">naslov <p-sortIcon field="title"></p-sortIcon></th>
                <th pSortableColumn="authors">autor <p-sortIcon field="authors"></p-sortIcon></th>
                <th pSortableColumn="publicationYear">godina izdavanja <p-sortIcon field="publicationYear"></p-sortIcon></th>
                <th pSortableColumn="quantity">na stanju <p-sortIcon field="quantity"></p-sortIcon></th>
                <th>opcije</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-u let-rowIndex="rowIndex">
            <tr [ngClass]="{'table-row-even': rowIndex % 2 === 0, 'table-row-odd': rowIndex % 2 !== 0}">
                <td>{{ u.id }}</td>
                <td>{{ u.title }}</td>
                <td>{{ u.authors }}</td>
                <td>{{ u.publicationYear }}</td>
                <td [ngClass]="{'low-quantity': u.quantity < 10}">
                    {{ u.quantity }}
                </td>
                <td>
                    <p-button label="izdaj" (onClick)="issueTextbook(u)"/>
                    <p-button *ngIf="u.quantity < 50" label="trebuj" severity="info" (onClick)="requestTextbook(u)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
        <p-dialog header="Trebuj udzbenik" [(visible)]="visible" modal="modal" [closable]="true">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="additionalQty">Kolicina</label>
                    <input id="additionalQty" type="text" pInputText [(ngModel)]="additionalQuantity" />
                </div>
            </div>
            <p-footer>
                <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="processRequest()" />
                <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="closeDialog()" class="p-button-secondary" />
            </p-footer>
        </p-dialog>
    <p-toast />
</div>
