<div class="content">
    <h2>Registered Users</h2>
    <div class="dugme">
        <p-button label="Add" severity="success" (onClick)="openAddUserDialog()" />
    </div>
    <div class="pretraga">
        <p-inputGroup>
            <input type="text" [(ngModel)]="userFilter.username" pInputText placeholder="Username" />
        </p-inputGroup>
        <p-inputGroup>
            <input type="text" [(ngModel)]="userFilter.email" pInputText placeholder="Email" />
        </p-inputGroup>
        <p-button icon="pi pi-search" (click)="searchUsers()" rounded="true" [raised]="true" />
        <p-button icon="pi pi-times" (click)="clearFilter()" rounded="true" [raised]="true" severity="danger" />
    </div>
    <p-table [value]="filteredUsers" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="username">Username <p-sortIcon field="username"></p-sortIcon></th>
                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-k>
            <tr>
                <td>{{k.id}}</td>
                <td>{{k.username}}</td>
                <td>{{k.email}}</td>
                <td>
                    <p-button (onClick)="openChangeType(k)" severity="contrast" label="Change Type" />
                    <p-button (onClick)="deleteUser(k.id, $event)" label="Remove" severity="danger"/>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog header="Add User" [(visible)]="addUserVisible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="firstName">First Name</label>
                <input id="firstName" type="text" pInputText [(ngModel)]="newUser.firstName" />
            </div>
            <div class="p-field">
                <label for="lastName">Last Name</label>
                <input id="lastName" type="text" pInputText [(ngModel)]="newUser.lastName" />
            </div>
            <div class="p-field">
                <label for="username">Username</label>
                <input id="username" type="text" pInputText [(ngModel)]="newUser.username" />
            </div>
            <div class="p-field">
                <label for="email">Email</label>
                <input id="email" type="email" pInputText [(ngModel)]="newUser.email" />
            </div>
            <div class="p-field">
                <label for="password">Password</label>
                <input id="password" type="password" pInputText [(ngModel)]="newUser.password" />
            </div>
        </div>
        <p-footer>
            <p-button label="Save" rounded="true" severity="success" icon="pi pi-check" (click)="addUser()" />
            <p-button label="Cancel" rounded="true" severity="danger" icon="pi pi-times" (click)="closeUserDialog()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>

    <p-dialog header="Change User Type" [(visible)]="tipDialog" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div>
                <p-dropdown [options]="tipovi" [(ngModel)]="tip" optionLabel="name" placeholder="Select type"></p-dropdown>
            </div>
            <div>
                <p><strong>First Name: </strong> {{userForTypeChange.firstName}}</p>
            </div>
            <div>
                <p><strong>Last Name: </strong> {{userForTypeChange.lastName}}</p>
            </div>
            <div>
                <p><strong>Email: </strong> {{userForTypeChange.email}}</p>
            </div>
            <div>
                <p><strong>Current Permission: </strong> {{userForTypeChange.userType}}</p>
            </div>
        </div>
        <p-footer>
            <p-button label="Change" rounded="true" severity="success" icon="pi pi-check" (click)="saveTypeChange()" />
            <p-button label="Cancel" rounded="true" severity="danger" icon="pi pi-times" (click)="closeTypeDialog()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>

    <p-toast />
    <p-confirmPopup />
</div>
