<div class="content">
    <h2>Enrollment</h2>
    <div>
        <p>Welcome to the enrollment page of {{universityName}}!</p>
        <p>If you are considering continuing your education or want to become part of our academic community, here you will find all the information you need for a successful enrollment.</p>
    </div>

    <p-divider />

    <h3>Enrollment Steps</h3>
    <div class="poravnanje-levo">
        <p><b>Information Session</b>: We recommend familiarizing yourself with our faculties and study programs. You can find details <a routerLink="/faculties">here</a>.</p>

        <p><b>Application</b>: To apply, fill out the application form available on our website. The application includes basic information about you, your educational qualifications, and your study program preferences.</p>

        <p><b>Registration:</b> Before applying, make sure to register <a routerLink="/registration">here</a>. This registration will allow you to track the status of your application and receive all relevant information via email.</p>

        <p><b>Documentation</b>: Attach the required documents such as transcripts, diplomas, and recommendations. Review the list of required documents to ensure you have submitted everything needed.</p>

        <p><b>Interview</b>: After reviewing applications, candidates who meet the requirements will be invited to an interview. The interview is an opportunity to meet members of our admissions committee and further present your qualifications.</p>

        <p><b>Enrollment Decision</b>: After the interviews are completed, all candidates will be notified of the results and the enrollment decision. We will guide you through the next steps and information about the start of classes.</p>
    </div>

    <p-divider />

    <h3>Tuition and Financial Aid</h3>
    <p>At {{universityName}}, we offer various financial aid options and scholarships. You can find details about tuition costs, financing options, and scholarships on the individual faculty pages <a routerLink="/faculties">here</a>.</p>

    <p-divider />

    <h3>Contact</h3>
    <div>
        <p>If you have additional questions or need assistance, feel free to contact our enrollment team. Reach us at <span class="podaci">{{universityContact}}</span>, or in person at <span class="podaci">{{universityAddress}}</span>.</p>

        <p>We look forward to your interest in {{universityName}} and hope you will become part of our dynamic academic environment!</p>
    </div>
</div>
