<div class="content">
    <a [routerLink]="['/fakultet', facultyCode]"><h2>{{faculty.name}}</h2></a>
    <h3>{{studyProgram?.name}}</h3>

    <p>{{studyProgram?.description}}</p>

    <p-divider />

    <h4>Predmeti</h4>
    <ul>
        <li *ngFor="let p of courses">
            <a [routerLink]="['/fakultet', facultyCode, 'studijski-program', studyProgramCode, 'predmet', p.courseCode]">{{p.name}}</a>
        </li>
    </ul>

    <p-divider />

    <h4>Rukovodilac smera</h4>
    <p>{{studyProgram?.programDirector}}</p>
</div>
