<p-tabView [activeIndex]="selectedTabIndex" (onChange)="onTabChange($event)">
    <p-tabPanel header="Student Enrollment">
        <app-student-enrollment></app-student-enrollment>
    </p-tabPanel>
    <p-tabPanel header="Document Issuance">
        <app-document-issuance></app-document-issuance>
    </p-tabPanel>
    <p-tabPanel header="Announcements">
        <app-obavestenja></app-obavestenja>
    </p-tabPanel>
    <p-tabPanel header="Library">
        <app-library></app-library>
    </p-tabPanel>
    <p-tabPanel header="Office Supplies">
        <app-office-supplies></app-office-supplies>
    </p-tabPanel>
</p-tabView>
