<div class="content">
    <a [routerLink]="['/faculty', facultyCode]"><h2>{{facultyName}}</h2></a>
    <a [routerLink]="['/faculty', facultyCode, 'study-program', studyProgramCode]"><h3>{{programName}}</h3></a>
    <a [routerLink]="['/faculty', facultyCode, 'study-program', studyProgramCode, 'course', courseCode]"><h4>{{course.name}}</h4></a>
    <p-divider />
    <h3>{{materialTitle}}</h3>

    <p>{{material?.description}}</p>
    <p>{{material?.url}}</p>
    <p-divider />

    <h5>Author</h5>
    <p>{{material?.authors}}</p>
    <p-divider />

    <h5>Publisher</h5>
    <p>{{material?.publisher}}</p>
    <p-divider />

    <h5>Publication Year</h5>
    <p>{{material?.publicationYear}}</p>
    <p-divider />

    <h5>Page Count</h5>
    <p>{{material?.pageCount}}</p>
</div>
