<div class="content">
    <a [routerLink]="['/fakultet', facultyCode]"><h2>{{faculty?.name}}</h2></a>
    <a [routerLink]="['/fakultet', facultyCode, 'studijski-program', studyProgramCode]"><h3>{{studyProgram?.name}}</h3></a>

    <p-divider />
    <h4>{{course?.name}}</h4>

    <p>{{course?.description}}</p>
    <p-divider />

    <h5>Silabus</h5>
    <p class="silabus" [innerHTML]="formatSyllabus(course?.syllabus)"></p>
    <p-divider />

    <h5>Nastavni materijal</h5>
    <ul>
        <li *ngFor="let nm of course?.teachingMaterials">
           <a [routerLink]="['/fakultet', facultyCode, 'studijski-program', studyProgramCode, 'predmet', course?.courseCode,
           'nastavni-materijal', nm.title]">{{nm.title}}</a>
        </li>
    </ul>
    <p-divider />


    <h5>Trajanje predmeta</h5>
    <p>od: {{formatDate(course?.startDate)}}</p>
    <p>do: {{formatDate(course?.endDate)}}</p>
    <p-divider />

    <h5>ESPB</h5>
    <p>{{course?.ects}}</p>
    <p-divider />

    <h5>Profesor</h5>
    <p>{{course?.teacher?.firstName}} {{course?.teacher?.lastName}}</p>
</div>
