<div class="content">
    <h2>Announcements</h2>
    <p-button label="Post Announcement" (click)="showDialog()" />

    <p-divider />
    <p-dataView #dv [value]="announcements">
        <ng-template pTemplate="list">
            <div *ngFor="let a of announcements">
                <div class="gObavestenje">
                    <h4>{{a.title}}</h4>
                    <p><span>From: </span> <br> {{formatDate(a.startDate)}}</p>
                    <p><span>Until: </span> <br> {{formatDate(a.endDate)}}</p>
                    <p>{{a.content}}</p>
                </div>
                <p-divider />
            </div>
        </ng-template>
    </p-dataView>

    <p-dialog header="Add New Announcement" [(visible)]="displayDialog" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="title">Title</label>
                <input id="title" type="text" pInputText [(ngModel)]="newAnnouncement.title" />
            </div>
            <div class="p-field">
                <label for="content">Content</label>
                <textarea id="content" rows="4" pInputTextarea [(ngModel)]="newAnnouncement.content"></textarea>
            </div>
            <div class="p-field">
                <label for="startDate">Start Date</label>
                <p-calendar id="startDate" [(ngModel)]="newAnnouncement.startDate" [showTime]="true"></p-calendar>
            </div>
            <div class="p-field">
                <label for="endDate">End Date</label>
                <p-calendar id="endDate" [(ngModel)]="newAnnouncement.endDate" [showTime]="true"></p-calendar>
            </div>
        </div>
        <p-footer>
            <p-button label="Save" rounded="true" severity="success" icon="pi pi-check" (click)="addAnnouncement()" />
            <p-button label="Cancel" rounded="true" severity="danger" icon="pi pi-times" (click)="hideDialog()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>
    <p-toast />
</div>
