<div class="content">
    <h2>Obavestenja</h2>
    <p-button label="objavi obavestenje" (click)="openDialog()" />

    <p-divider />
    <p-dataView  #dv [value]="announcements">
        <ng-template  pTemplate="list">
            <div *ngFor="let o of announcements">
                <div class="gObavestenje">
                    <h4>{{o.title}}</h4>
                    <p><span>od: </span> <br> {{formatDate(o.startDate)}}</p>
                    <p><span>do: </span> <br> {{formatDate(o.endDate)}}</p>
                    <p>{{o.content}}</p>
                </div>
                <p-divider />
            </div>
        </ng-template>
    </p-dataView>

    <p-dialog header="Dodaj Novo Obaveštenje" [(visible)]="displayDialog" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="title">Naslov</label>
                <input id="title" type="text" pInputText [(ngModel)]="newAnnouncement.title" />
            </div>
            <div class="p-field">
                <label for="content">Sadržaj</label>
                <textarea id="content" rows="4" pInputTextarea [(ngModel)]="newAnnouncement.content"></textarea>
            </div>
            <div class="p-field">
                <label for="startDate">Vreme Početka</label>
                <p-calendar id="startDate" [(ngModel)]="newAnnouncement.startDate" [showTime]="true" ></p-calendar>
            </div>
            <div class="p-field">
                <label for="endDate">Vreme Kraja</label>
                <p-calendar id="endDate" [(ngModel)]="newAnnouncement.endDate" [showTime]="true" ></p-calendar>
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="addAnnouncement()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="closeDialog()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>
    <p-toast />
</div>
